*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100dvh;
    background: url('../img/MasterChief.jpg') no-repeat center center;
    background-size: cover;
}
header{
    width: 100%;
    height: 12dvh;
    background: #000;
}
h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15dvh;
    text-align: right;
    margin-right: 10%;
}
p{
    width: 60dvh;
    float: right;
    text-align: right;
    font-weight: bold;
    margin-right: 10%;
    margin-top: 2dvh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
    
}